.editProjectContainer img{
    float: right;
    cursor: pointer;
}

.editProjectContainer input{
    width: 50%;
}
.editModal{
    display: block !important;
}

.editProjectContainer h2{
    display: inline-block;
}
.inputContainer input {
    margin-left: 1vw;
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
}
.editModal .buttonContainer button{
    margin-top: 1vw;
    padding:0.4vw 0.9vw;
    font-size: 1.2rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


.editModal .buttonContainer .deleteButton {
    background-color: rgb(249, 106, 106);
}
.editModal .buttonContainer .updateButton {
    background-color: rgb(203, 207, 238);
}

.modalProjectContent{
    padding: 1vw;
    position: relative;
    top: 25%;
    background-color: white;
    margin: auto;
    width: 30%;
    height: 35%;
}

.modalProjectContent label,input,select,.addButton{
    font-family: 'Open Sans', sans-serif;
}

.modalProjectContent h2{
    font-family: 'Poppins', sans-serif;
}



@media screen and  (max-width:700px) {

    .inputContainer .buttonContainer button{
        margin-top: 2vw;
    }
}
@media screen and (min-width:700px) and (max-width:1100px) {

    .modalProjectContent{
        padding: 1vw;
        top: 25%;
        width: 60%;
        height: 50%;
    }

}

@media screen and  (max-width:700px) {

    .modalProjectContent{
        padding: 1vw;
        top: 25%;
        width: 80%;
        height: 50%;
    }

    .modalProjectContent .addButton{
        margin-top: 2vw;
    }
}