.editBugContainer img {
  float: right;
  cursor: pointer;
}
.editModal {
  display: block !important;
}

.editBugContainer h2 {
  display: inline-block;
}
.inputContainer input {
  margin-left: 1vw;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}
.editModal .buttonContainer button {
  margin-top: 1vw;
  padding: 0.4vw 0.9vw;
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.editModal .buttonContainer .deleteButton {
  background-color: rgb(249, 106, 106);
}
.editModal .buttonContainer .updateButton {
  background-color: rgb(203, 207, 238);
}

@media screen and (max-width: 700px) {
  .inputContainer .buttonContainer button {
    margin-top: 2vw;
  }
}
