.projectCard{
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;
    align-items: center;
    margin-top: 0.7vw;
}
.projectCard p{
    font-size: 1.3rem;
    display: inline;
}
.projectCard img{
    width: 1.5rem;
    height: 1.5rem;
}

.projectCard img{
    cursor: pointer;
}
.projectName{
    color: blue;
    cursor: pointer;
}




@media  screen and (max-width: 800px){
    .projectCard{
        margin-top: 1.5vw;
    }
}
