.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  display: none;
}
.modalContent {
  padding: 1vw;
  position: relative;
  top: 25%;
  background-color: white;
  margin: auto;
  width: 40%;
  height: 45%;
}

.modalContent label,
input,
select,
.addButton {
  font-family: "Open Sans", sans-serif;
}

.modalContent h2 {
  font-family: "Poppins", sans-serif;
}

.addBugContainer img {
  cursor: pointer;
  float: right;
}

.addBugContainer h2 {
  display: inline-block;
}

.inputContainer input,
select {
  background-color: rgb(228, 228, 228);
  border: none;
  font-size: 1.1rem;
  padding: 0.4vw;
}

.inputContainer input {
  border-radius: 20px;
  margin-top: 1vw;
  width: 50%;
}

.inputContainer label,
select,
.addButton {
  margin-top: 1vw;
}

.inputContainer select {
  margin-left: 1vw;
}

.inputContainer label {
  font-size: 1.1rem;
}

.inputContainer .addButton {
  float: right;
  padding: 0.4vw 0.9vw;
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(203, 207, 238);
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  .modalContent {
    padding: 1vw;
    top: 25%;
    width: 60%;
    height: 50%;
  }

  .inputContainer input {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .modalContent {
    padding: 1vw;
    top: 25%;
    width: 80%;
    height: 50%;
  }

  .inputContainer input {
    width: 80%;
    margin: 2vw 0;
  }

  .inputContainer select {
    margin: 2vw 2vw;
  }
  .modalContent .addButton {
    margin-top: 2vw;
  }
}
